langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-ollama

faiss-cpu
rank-bm25

sentence-transformers
transformers
torch

pypdf
python-dotenv

pytest
